* {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}

/*设置背景颜色*/
body {
    background: #eee !important;
    margin-bottom: 80px;
}

li {
    list-style-type: none;
}

span {
    color: grey;
}

/*让底部显示美观*/
footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

/*一个长方形的白框,就是表单外面的框*/
.form-signin {
    max-width: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
}

/*防止间距过宽不美观*/
.form-control {
    padding: 10px;
}

.sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 260px;
    height: 100%;
    float: left;
    background-color: #2B333E;
    position: fixed;
    left: 0;
    z-index: 9;
}

.sidebar .nav > li > a {
    padding: 18px 30px;
    color: #AEB7C2;
    border-left: 5px solid transparent;
}

.nav li>a:hover{
    color: yellow;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus,
.sidebar .nav > li > a.active {
    color: #fff;
    background-color: transparent;
}

.sidebar .nav > li > a:focus,
.sidebar .nav > li > a.active {
    background-color: #252c35;
    border-left-color: #00AAFF;
}

.sidebar .nav > li > a .badge {
    font-weight: 400;
    background-color: #F9354C;
}




