<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>

</head>
<body>
<div class="sidebar">

    <nav>
        <ul class="nav">
            <li><a href="manage" target="right"><span>信息管理</span></a></li>
            <li><a href="insertBringInfo" target="right"><span>发布信息</span></a></li>
            <li><a href="exit" target="sypost"> <span>退出登录</span></a></li>


        </ul>
    </nav>

</div>

</body>
</html>