<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>勤工助学</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
    <script src="./js/zepto.js"></script>
    <script src="./js/back.js"></script>
</head>


<body>
<div class="header">
    <p>勤工助学岗位信息</p>
</div>
<hr/>
<div id="content"></div>
<div class="text-center">
    <span id="pagediv" style="text-align:center;font-size:14px;font-weight:bold"></span>
</div>


<footer>
    <div class="text-center">
        <span>@2017 勤工助学中心</span> <br/> <span>技术支持：明理苑大学生网络文化工作室</span>
    </div>
</footer>
</body>
</html>