<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>勤工助学</title>
    <link rel="stylesheet" type="text/css" href="./css/list.css"/>
    <link href="./css/bootstrap.css" rel="stylesheet"/>
    <style rel="stylesheet">
    </style>
    <script src="./js/zepto.js"></script>
    <script src="./js/bringInfo.js"></script>
</head>
<body>
<div class="header">
    <a href="back" class="back"><img
            src="./images/back.png" style="width: 12px;"/></a>
    <p>勤工助学岗位详情</p>
</div>
<hr/>

<div id="content"></div>


<footer>
    <div class="text-center">
        <span>@2017 勤工助学中心</span> <br/> <span>技术支持：明理苑大学生网络文化工作室</span>
    </div>
</footer>
</body>
</html>