<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>管理员登录界面</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
    <link rel="shortcut icon" href="images/icon/favicon.ico"/>
    <script src="js/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="js/userLogin.js" type="text/javascript"></script>
</head>

<body>
<div class="container">

    <header>

        <nav></nav>
    </header>

    <div class="form-signin">

        <h1 class="text-center">请登录!</h1>
        <div class="text-center">
            <i class="fa fa-user-o fa-5x adminimg" aria-hidden="true"></i>
        </div>
        <h4>登录ID</h4>
        <input type="text" class="form-control" name="id" id="id"
               placeholder="您的ID" required="" autofocus=""/>
        <h4>密码</h4>
        <input type="password" class="form-control" name="password"
               id="password" placeholder="您的密码" required=""/>
        <br/>
        <button class="btn btn-block btn-primary" onclick="login()">登录</button>


    </div>


</div>

    <div class="text-center">
        <span>@2017 勤工助学中心</span> <br/> <span>技术支持：明理苑大学生网络文化工作室</span>
    </div>


</body>

</html>